{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="container-fluid h-100">
    <div class="row h-100">
        <!-- left-side welcome content -->
        <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">

            <!-- login form -->
            <form method="POST" action="{% url 'account_login' %}" class="my-5 mx-3 py-md-5">

                <!-- CSRF Token -->
                {% csrf_token %}

                <fieldset class="card shadow bg-dark text-light">
                    <legend class="card-header text-center bg-kur-red">{% trans "Login" %}</legend>

                    <div class="card-body bg-light text-dark">

                        <div class="row">
                            <!-- email field -->
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-secondary bg-opacity-25 text-dark d-none d-md-flex"><i class="fas fa-at fa-fw"></i></span>
                                <div class="form-floating flex-grow-1">
                                    {{ form.login }}
                                    <label for="id_login">* Email Address</label>
                                </div>
                            </div>

                            <!-- password field -->
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-secondary bg-opacity-25 text-dark d-none d-md-flex"><i class="fas fa-lock fa-fw"></i></span>
                                <div class="form-floating flex-grow-1">
                                    {{ form.password }}
                                    <label for="id_login">* Password</label>
                                </div>
                            </div>

                            <!-- hidden redirect field (if applicable) -->
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                            {% endif %}

                            <!-- form errors (if applicable) -->
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    {% for key, value in form.errors.items %}
                                        {{ value|escape }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="card-footer bg-kur-green">
                        <div class="row">
                            <div class="col text-center mx-auto">
                                <!-- login btn -->
                                <button class="btn btn-warning" type="submit">{% trans "Login" %}</button>
                            </div>
                        </div>
                    </div>

                </fieldset>

            </form>
        </div>

        <!-- right-side background image -->
        <div class="col-12 col-md-6 d-none d-md-flex" id="img-admin"></div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    // add "form-control" class to fields in lieu of creating forms.py for custom signup
    $("#id_login, #id_password").addClass("form-control");
</script>
{% endblock %}
