{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partials/head.html" %}
</head>

<body>

    <!-- overlay -->
    <aside id="overlay" class="hide"></aside>

    
    <!-- messages -->
    {% include "partials/messages.html" %}
    
    <!-- main content -->
    <section class="container-fluid m-0 p-0">
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0">
                <!-- landing page image with flip-board logo -->
                <aside id="home-landing" class="parallax text-center text-md-start">
                    <span class="flip-tile text-kur-red">I</span>
                    <span class="flip-tile text-kur-red">R</span>
                    <span class="flip-tile text-kur-red">A</span>
                    <span class="flip-tile text-kur-red">Q</span>
                    <span class="flip-tile text-kur-red">I</span>
                    <br>
                    <span class="flip-tile text-white">K</span>
                    <span class="flip-tile text-white">U</span>
                    <span class="flip-tile text-white">R</span>
                    <span class="flip-tile text-white">D</span>
                    <span class="flip-tile text-white">I</span>
                    <span class="flip-tile text-white">S</span>
                    <span class="flip-tile text-white">T</span>
                    <span class="flip-tile text-white">A</span>
                    <span class="flip-tile text-white">N</span>
                    <br>
                    <span class="flip-tile text-kur-green">G</span>
                    <span class="flip-tile text-kur-green">U</span>
                    <span class="flip-tile text-kur-green">I</span>
                    <span class="flip-tile text-kur-green">D</span>
                    <span class="flip-tile text-kur-green">E</span>
                </aside>
            </div>
        </div>
    </section>

    <!-- header / navbar -->
    {% include "partials/navbar.html" %}

    <main class="container-fluid my-5">

        <!-- introduction -->
        <section class="row my-5">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="mb-3">
                    <div class="row d-flex align-items-center text-center g-0">
                        <div class="col-lg-6 order-last order-lg-first">
                            <img src="{% static 'img/wallpaper/iraqi-kurdistan-guide-haval.jpg' %}" class="img-fluid rounded" alt="Iraqi Kurdistan Guide Haval">
                        </div>
                        <div class="col-lg-6 order-first order-lg-last">
                            <div class="p-4">
                                <h2>The <strong>original</strong> and <strong>#1 rated</strong> tour guide in Iraqi Kurdistan!</h2>
                                <div class="position-relative m-5">
                                    <div class="progress">
                                        <div class="progress-bar bg-success w-100" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span class="position-absolute top-0 start-50 translate-middle badge bg-success p-2 rounded-circle shadow">
                                        <i class="fas fa-map-marked-alt fs-4"></i>
                                    </span>
                                </div>
                                <p>
                                    I'm Haval Qaraman, and I've been helping travelers create lifelong memories with my bespoke tours of Kurdistan since 2010.
                                </p>
                                <p>
                                    I've been featured in the Lonely Planet's guide to Iraq, and would love to help you plan the experience of a lifetime!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="row">
            <div class="col-12 p-0">
                <aside id="home-landing-01" class="bg-dark w-100"></aside>
            </div>
        </section>

    </main>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <!-- footer -->
    {% include "partials/footer.html" %}

    <!-- scripts -->
    {% include "partials/scripts.html" %}

    <script>

        // on-scroll
        $(window).scroll(function(e) {
            // parrallax effect
            let scroll = $(this).scrollTop();
            $(".parallax").css({"background-position": `50% ${scroll/2}px`});

            // update navbar styles
            let header = $("header").offset().top;
            let navbar = $(".navbar");
            if ($(window).scrollTop() >= header) {
                $(navbar).css({"padding": "0.75em"}).removeClass("bg-dark navbar-dark").addClass("bg-light navbar-light bg-opacity-75");
            } else {
                $(navbar).css({"padding": "0.5rem"}).removeClass("bg-light navbar-light bg-opacity-75").addClass("bg-dark navbar-dark");
            }
        });
    </script>

</body>
</html>
