{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container my-5">
    <!-- breadcrumbs -->
    <div aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'gallery' %}">Gallery</a></li>
            <li class="breadcrumb-item active" aria-current="page">Admin: New Photo</li>
        </ol>
    </div>

    <br><br>
    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'add_photo' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ photo_form.as_p }}
                <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
                <button type="submit" class="btn btn-success">Submit</button>
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-danger">Cancel</a>
            </form>
        </div>
        <div class="col-12 col-md-6 card shadow text-center d-none" id="img-preview-col">
            <h3>Image Preview</h3>
            <img src="" alt="Preview of Image Being Uploaded" id="img-preview" class="w-100 my-2">
        </div>
    </div>
</section>

{% endblock %}


{% block js %}
<script>
    // disable first option of each <select> element
        $("select").each(function() {
        $(this).children("option:first").prop("disabled", true);
    });

    // show preview of the image, prior to upload
    $("#id_image").on("change", function() {
        let imgPreview = document.getElementById("id_image").files;
        if (imgPreview) {
            $("#img-preview-col").removeClass("d-none");
            try {
                $("#img-preview").prop("src", window.URL.createObjectURL(imgPreview[0]));
                $("#img-preview").on("error", function() {
                    $("#img-preview").prop("src", "../../../media/no-image.png");
                })
            }
            catch (error) {console.log(error);}
        }
    });
</script>
{% endblock %}
