{% extends "base.html" %}
{% load static %}

{% block breadcrumbs %}
    <!-- breadcrumbs -->
    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'gallery' %}">Gallery</a></li>
    <li class="breadcrumb-item active" aria-current="page">NEW</li>
{% endblock %}

{% block content %}

<section class="container my-5">
    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'add_photo' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ photo_form.as_p }}
                <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
                <button type="submit" class="btn btn-success">Submit</button>
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-danger">Cancel</a>
            </form>
        </div>
        <!-- display preview of blog being uploaded -->
        <div class="col-12 col-md-6 d-none rounded" id="img-preview-col">
            <img src="" alt="Preview of Image Being Uploaded" id="img-preview"
                class="card img-fluid img-thumbnail rounded shadow" onError="this.onerror=null;this.src='{{ MEDIA_URL }}no-image.png';">
        </div>
    </div>
</section>

{% endblock %}


{% block js %}
    <!-- add/edit photo_form use same logic -->
    {% include "gallery/partials/photo_form_scripts.html" %}
{% endblock %}
