{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block breadcrumbs %}
    <!-- breadcrumbs -->
    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
    <li class="breadcrumb-item active" aria-current="page">Gallery</li>
    {% if request.user|has_group:"Site Admin" %}
        <li class="breadcrumb-item">
            <a href="{% url 'add_photo' %}">
                <i class="fas fa-plus-square" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add Photo"></i>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}

<!-- regroup gallery by destination -->
{% regroup photos|dictsort:"sight.destination.name" by sight.destination as photo_list %}

<div class="container-fluid py-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 id="page-header" class="text-dark fw-bold">Gallery</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-md-10 col-lg-8 mx-auto text-center">
            <!-- generate badges for each destination for easy-scrolling -->
            {% for sight, photo_group in photo_list %}
                <a href="#{{ sight|lower|cut:' '|cut:'-'|cut:'&' }}">
                    <span class="badge bg-success fs-6 my-1">{{ sight }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
</div>

<!-- loop through each photo (sorted by sight/destination) -->
{% for sight, photo_group in photo_list %}
    <section id="{{ sight|lower|cut:' '|cut:'-'|cut:'&' }}" class="container scroll-margin-top">
        <div class="row py-5 px-md-5">
            <div class="col-12">
                <h2 class="text-center fw-bold text-dark">
                    {{ sight }}
                    {% if sight.province.region == "kur" %}
                        <img src="{% static 'img/flags/kurdistan.png' %}" alt="Flag of Kurdistan" class="img-fluid">
                    {% elif sight.province.region == "irq" %}
                        <img src="{% static 'img/flags/iraq.png' %}" alt="Flag of Iraq" class="img-fluid">
                    {% endif %}
                </h2>
                <div class="row card-deck d-flex justify-content-center">
                    {% for photo in photo_group %}
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-2">
                            <!-- include photo-card partial -->
                            {% include "gallery/partials/photo_card.html" %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {% if not forloop.last %}
        <hr class="w-50 mx-auto">
    {% endif %}

    {% endfor %}

{% endblock %}
