{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container my-5">
    <!-- breadcrumbs -->
    <div aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Gallery</li>
            {% if request.user.is_superuser %}
                <li class="breadcrumb-item"><a href="{% url 'add_photo' %}">Admin: New Photo</a></li>
            {% endif %}
        </ol>
    </div>
    
    <br><br>
    <div class="row">
        <div class="col-12 text-center">
            {% regroup photos by sight.destination as photo_list %}
            {% for sight, photo_group in photo_list %}
                <h2>{{ sight }}</h2>
                <div class="row card-deck d-flex justify-content-center">
                    {% for photo in photo_group %}
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-2">
                            <figure class="card text-white">
                                <img src="{{ photo.image.url }}" alt="{{ photo.caption }}" class="card-img">
                                <figcaption class="d-flex flex-column justify-content-center card-img-overlay text-center">
                                    <h3 class="card-title">{{ photo.sight }}</h3>
                                    <p class="card-text">{{ photo.caption }}</p>
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'update_photo' photo.id %}" class="btn btn-success">Edit <i class="fas fa-edit"></i></a>
                                        {% if photo.is_visible != True %}
                                            <br><br>
                                            <span class="text-danger">
                                                <i class="fas fa-eye-slash me-2"></i>
                                                Hidden
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </figcaption>
                            </figure>
                        </div>
                {% endfor %}
                </div>
                <br><hr><br>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
