{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container my-5">
    <!-- breadcrumbs -->
    <div aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'gallery' %}">Gallery</a></li>
            <li class="breadcrumb-item active" aria-current="page">Admin: Update Photo</li>
        </ol>
    </div>

    <br><br>
    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'update_photo' photo.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ photo_form.as_p }}
                <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
                <button type="submit" class="btn btn-success">Submit</button>
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-danger">Cancel</a>
                <a class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
                <!-- Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete "{{ photo }}"?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this photo?
                                <br><br>
                                <div class="row">
                                    <div class="col-6 offset-3">
                                        <img src="{{ photo.image.url }}" alt="{{ photo.caption }}" class="card-img"
                                            onError="this.onerror=null;this.src='{{ MEDIA_URL }}no-image.png';">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                                <a href="{% url 'delete_photo' photo.id %}" class="btn btn-success">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- display preview of blog being uploaded -->
        <div class="col-12 col-md-6" id="img-preview-col">
            <img src="{{ photo.image.url }}" alt="Preview of Image Being Uploaded" id="img-preview"
                class="card img-fluid img-thumbnail shadow" onError="this.onerror=null;this.src='{{ MEDIA_URL }}no-image.png';">
        </div>
    </div>
</section>

{% endblock %}


{% block js %}
    <!-- add/edit photo_form use same logic -->
    {% include "gallery/partials/photo_form_scripts.html" %}
{% endblock %}
