<div id="banner-review" class="toast show fs-5 align-items-center bg-warning border-0 rounded-0 w-100" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body w-100 text-center">
            <a href="https://www.tripadvisor.com/UserReviewEdit-g659505-d14863085-Iraqi_Kurdistan_Guide-Erbil_Erbil_Province.html" target="_blank" rel="noopener" class="text-dark">
                Click here to leave a review! <br class="d-block d-md-none"> الرجاء النقر هنا لترك التعليق
            </a>
        </div>
        <button type="button" class="btn-close btn-close-black me-2 m-auto" data-bs-dismiss="toast" aria-label="Close" id="btn-close-review"></button>
    </div>
</div>
