<aside id="banner-cookies" class="toast show position-fixed bottom-0 end-0 fs-6 align-items-center bg-warning border-0 rounded-0 w-100" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body w-100 text-center">
            <i class="fas fa-cookie-bite"></i>
            We use only local cookies to ensure you get the best experience.
            <a href="{% url 'privacy_policy' %}#cookies" class="text-dark">
                <br class="d-block d-md-none">
                Learn More
            </a>
        </div>
        <button type="button" class="btn-close btn-close-black me-2 m-auto" data-bs-dismiss="toast" aria-label="Close" id="btn-close-cookies"></button>
    </div>
</aside>
