<!-- <footer class="container-fluid">
    <div class="row py-2">
        <div class="col">
            <a href="https://www.facebook.com/kurdistantourguide" target="_blank" rel="noopener" aria-label="Facebook">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="https://twitter.com/kurdistantour" target="_blank" rel="noopener" aria-label="Twitter">
                <i class="fab fa-twitter-square"></i>
            </a>
            <a href="http://instagram.com/iraqi_kurdistan_guide" target="_blank" rel="noopener" aria-label="Instagram">
                <i class="fab fa-instagram-square"></i>
            </a>
            <a href="mailto:haval@iraqikurdistanguide.com" target="_blank" rel="noopener" aria-label="Contact Iraqi Kurdistan Guide">
                <i class="fas fa-at"></i>
            </a>
        </div>
    </div>
    <div class="row pb-2">
        <div class="col">
            <a href="http://www.iraqikurdistanguide.com">&copy; <span id="year"></span> Iraqi Kurdistan Guide</a>
        </div>
    </div>
</footer> -->


<footer class="container-fluid py-5">
    <div class="row">
        <div class="col-12 col-md-2 my-2">
            <h5 class="text-kur-red fw-bolder text-uppercase">Links</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">About</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">Reviews</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">Gallery</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">Contact</a></li>
            </ul>
        </div>

        <div class="col-12 col-md-2 my-2">
            <h5 class="text-kur-gold fw-bolder text-uppercase">Resources</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">Alphabet</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">Phrases</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">FAQs</a></li>
            </ul>
        </div>

        <div class="col-12 col-md-2 my-2">
            <h5 class="text-kur-green fw-bolder text-uppercase">Popular</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">Erbil</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">Duhok</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">Rawanduz</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">Akre</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">Sulaymaniyah</a></li>
            </ul>
        </div>

        <div class="col-12 col-md-4 offset-sm-1 my-2">
            <address class="text-start">
                <h6 class="fw-bold">Haval Qaraman Rawandwzy, Owner</h6>
                <strong>Iraqi Kurdistan Guide</strong><br>
                <abbr title="Address">A:</abbr>109/1270 Qatal St.<br>
                Erbil, Kurdistan<br>
                Republic of Iraq<br>
                <abbr title="Phone">P:</abbr> <a href="tel:+9647504858186" class="link-light">+964 750 485 8186</a>
            </address>
            <!-- <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of whats new and exciting from us.</p>
                <div class="d-flex w-100 gap-2">
                    <label for="newsletter1" class="visually-hidden">Email address</label>
                    <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                    <button class="btn btn-primary" type="button">Subscribe</button>
                </div>
            </form> -->
        </div>
    </div>

    <div class="d-flex justify-content-between pt-4 mt-4 border-top">
        <p>
            <a href="http://www.iraqikurdistanguide.com" class="link-light">
                &copy;<span id="year"></span> Iraqi Kurdistan Guide
            </a>. All rights reserved.
        </p>
        <ul class="list-unstyled d-flex">
            <li class="ms-3">
                <a href="https://www.facebook.com/kurdistantourguide" target="_blank" rel="noopener" aria-label="Facebook">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <!-- <a class="link-dark" href="#">
                    <svg class="bi" width="24" height="24">
                        <use xlink:href="#twitter"></use>
                    </svg>
                </a> -->
            </li>
            <li class="ms-3">
                <a href="https://twitter.com/kurdistantour" target="_blank" rel="noopener" aria-label="Twitter">
                    <i class="fab fa-twitter-square"></i>
                </a>
            </li>
            <li class="ms-3">
                <a href="http://instagram.com/iraqi_kurdistan_guide" target="_blank" rel="noopener" aria-label="Instagram">
                    <i class="fab fa-instagram-square"></i>
                </a>
            </li>
            <li class="ms-3">
                <a href="mailto:haval@iraqikurdistanguide.com" target="_blank" rel="noopener" aria-label="Contact Iraqi Kurdistan Guide">
                    <i class="fas fa-at"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>
