<footer class="container-fluid">
    <div class="row py-2">
        <div class="col">
            <a href="https://www.facebook.com/kurdistantourguide" target="_blank" rel="noopener" aria-label="Facebook">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="https://twitter.com/kurdistantour" target="_blank" rel="noopener" aria-label="Twitter">
                <i class="fab fa-twitter-square"></i>
            </a>
            <a href="http://instagram.com/iraqi_kurdistan_guide" target="_blank" rel="noopener" aria-label="Instagram">
                <i class="fab fa-instagram-square"></i>
            </a>
            <a href="mailto:haval@iraqikurdistanguide.com" target="_blank" rel="noopener" aria-label="Contact Iraqi Kurdistan Guide">
                <i class="fas fa-at"></i>
            </a>
        </div>
    </div>
    <div class="row pb-2">
        <div class="col">
            <a href="http://www.iraqikurdistanguide.com">&copy; <span id="year"></span> Iraqi Kurdistan Guide</a>
        </div>
    </div>
</footer>
