{% load static %}

<!-- footer -->
<footer class="container-fluid bg-dark bg-gradient py-3">
    <div class="row">

        <!-- links -->
        <div class="col-12 col-sm-4 col-md-2 my-2">
            <p id="footer-header-red" class="text-kur-red fw-bolder text-uppercase footer-header-underline mb-3 fs-5">Links</p>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="{% url 'home' %}" class="nav-link p-0 link-light trigger-preloader">Home</a></li>
                <li class="nav-item mb-2"><a href="{% url 'destinations' %}" class="nav-link p-0 link-light trigger-preloader">Destinations</a></li>
                <li class="nav-item mb-2"><a href="{% url 'gallery' %}" class="nav-link p-0 link-light trigger-preloader">Gallery</a></li>
                <li class="nav-item mb-2"><a href="{% url 'itineraries' %}" class="nav-link p-0 link-light trigger-preloader">Itineraries</a></li>
                <li class="nav-item mb-2"><a href="{% url 'reviews' %}" class="nav-link p-0 link-light trigger-preloader">Reviews</a></li>
                <li class="nav-item mb-2"><a href="{% url 'contact' %}" class="nav-link p-0 link-light trigger-preloader">Contact</a></li>
            </ul>
        </div>

        <!-- resources -->
        <div class="col-12 col-sm-4 col-md-2 my-2">
            <p id="footer-header-gold" class="text-kur-gold fw-bolder text-uppercase footer-header-underline mb-3 fs-5">Resources</p>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="{% url 'alphabet' %}" class="nav-link p-0 link-light trigger-preloader">Alphabet</a></li>
                <li class="nav-item mb-2"><a href="{% url 'phrases' %}" class="nav-link p-0 link-light trigger-preloader">Phrases</a></li>
                <li class="nav-item mb-2"><a href="{% url 'entertainment' %}" class="nav-link p-0 link-light trigger-preloader">Entertainment</a></li>
                <li class="nav-item mb-2"><a href="{% url 'holidays' %}" class="nav-link p-0 link-light trigger-preloader">Holidays</a></li>
                <li class="nav-item mb-2"><a href="{% url 'weather' %}" class="nav-link p-0 link-light trigger-preloader">Weather</a></li>
                <li class="nav-item mb-2"><a href="{% url 'faqs' %}" class="nav-link p-0 link-light trigger-preloader">FAQs</a></li>
            </ul>
        </div>

        <!-- company / legal -->
        <div class="col-12 col-sm-4 col-md-2 my-2">
            <p id="footer-header-green" class="text-kur-green fw-bolder text-uppercase footer-header-underline mb-3 fs-5">Company</p>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="{% url 'about' %}" class="nav-link p-0 link-light trigger-preloader">About</a></li>
                <li class="nav-item mb-2"><a href="{% url 'booking_terms' %}" class="nav-link p-0 link-light trigger-preloader">Booking Terms</a></li>
                <li class="nav-item mb-2"><a href="{% url 'privacy_policy' %}#cookies" class="nav-link p-0 link-light trigger-preloader">Cookies Policy</a></li>
                <li class="nav-item mb-2"><a href="{% url 'privacy_policy' %}" class="nav-link p-0 link-light trigger-preloader">Privacy Policy</a></li>
                <li class="nav-item mb-2"><a href="{% url 'terms_conditions' %}" class="nav-link p-0 link-light trigger-preloader">Terms & Conditions</a></li>
            </ul>
        </div>

        <!-- address/phone -->
        <div class="col-12 col-sm-6 col-md-3 my-2">
            <address class="text-center">
                <p id="footer-header-white" class="fw-bolder footer-header-underline mb-3 fs-5">Iraqi Kurdistan Guide</p>
                <cite title="Owner" class="fw-bold">Haval Qaraman Rawandwzy</cite><br>
                <abbr title="Address"><i class="fas fa-map-marker-alt fs-6 me-2"></i></abbr>109/1270 Qatal St.<br>
                Erbil, Kurdistan<br>
                Republic of Iraq<br>
                <abbr title="Phone"><i class="fas fa-phone-alt fs-6 me-2"></i></abbr> <a href="tel:+9647504858186" class="link-light">+964 750 485 8186</a>
            </address>
        </div>

        <!-- map -->
        <div class="col-12 col-sm-6 col-md-3 my-2">
            <div id="map-footer"></div>
        </div>

    </div>

    <!-- lower footer -->
    <div class="row pt-4 mt-4 border-top">
        <!-- copyright -->
        <div class="col-12 col-md-6 my-3 d-flex align-items-center justify-content-center justify-content-md-start">
            <p class="ms-md-5 m-0 p-0">
                <a href="{% url 'home' %}" class="link-light trigger-preloader">
                    &copy;<span id="year"></span> Iraqi Kurdistan Guide
                </a>
                <br>
                All rights reserved
            </p>
        </div>

        <!-- social media -->
        <div class="col-12 col-md-6 my-3">
            <ul class="list-unstyled text-center d-flex flex-row justify-content-center justify-content-md-end me-md-5 m-0 p-0">
                <li class="mx-1 mx-md-2">
                    <a href="https://www.tripadvisor.com/Attraction_Review-g659505-d14863085-Reviews-Iraqi_Kurdistan_Guide-Erbil_Erbil_Province.html"
                        target="_blank" rel="noopener" aria-label="Iraqi Kurdistan Guide on TripAdvisor">
                        <img src="{% static 'img/icons/social/tripadvisor.png' %}" alt="Iraqi Kurdistan Guide on TripAdvisor" class="img-fluid footer-social-img">
                    </a>
                </li>
                <li class="mx-1 mx-md-2">
                    <a href="https://www.facebook.com/kurdistantourguide" target="_blank" rel="noopener" aria-label="Iraqi Kurdistan Guide on Facebook">
                        <img src="{% static 'img/icons/social/facebook.png' %}" alt="Iraqi Kurdistan Guide on Facebook" class="img-fluid footer-social-img">
                    </a>
                </li>
                <li class="mx-1 mx-md-2">
                    <a href="http://instagram.com/iraqi_kurdistan_guide" target="_blank" rel="noopener" aria-label="Iraqi Kurdistan Guide on Instagram">
                        <img src="{% static 'img/icons/social/instagram.png' %}" alt="Iraqi Kurdistan Guide on Instagram" class="img-fluid footer-social-img">
                    </a>
                </li>
                <li class="mx-1 mx-md-2">
                    <a href="https://twitter.com/kurdistantour" target="_blank" rel="noopener" aria-label="Iraqi Kurdistan Guide on Twitter">
                        <img src="{% static 'img/icons/social/twitter.png' %}" alt="Iraqi Kurdistan Guide on Twitter" class="img-fluid footer-social-img">
                    </a>
                </li>
            </ul>
        </div>

    </div>
</footer>
