{% load static %}
{% load custom_filters %}

<header id="navbar-header" class="bg-dark">
    <!-- nav -->
    <nav class="navbar navbar-dark bg-dark navbar-expand-md justify-content-center">
        <div class="container-sm">
            <!-- logo -->
            <a href="{% url 'home' %}" class="navbar-brand w-50 align-middle me-auto trigger-preloader">
                <img src="{% static 'img/flags/ikg-flags-logo.webp' %}" alt="Iraqi Kurdistan Guide" id="ikg-flags-logo" class="responsive-img me-3">
                <span class="d-none d-sm-inline-block">Iraqi Kurdistan Guide</span>
                <span class="d-sm-none" title="Iraqi Kurdistan Guide">I K G</span>
            </a>
            <!-- offcanvas toggle button -->
            <button id="offcanvas-toggle-btn" class="btn btn-light" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </nav>
</header>

<!-- offcanvas menu -->
<aside class="offcanvas offcanvas-end border-0 bg-dark text-light" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="bg-kur-flag text-center p-3 align-middle">
        
        {% if not request.user.is_authenticated %}
            <!-- user is not logged-in -->
            <a href="{% url 'account_login' %}" class="trigger-preloader">
                <i class="fas fa-certificate text-kur-gold fs-4 align-middle"></i>
            </a>
        {% else %}
            <i class="fas fa-certificate text-kur-gold fs-4 align-middle"></i>
        {% endif %}

    </div>
    <div class="offcanvas-header my-3 text-center">
        <h4 id="offcanvasRightLabel" class="m-0 mx-auto p-0">
            <a href="{% url 'home' %}" class="trigger-preloader">
                Iraqi Kurdistan Guide
            </a>
        </h4>
    </div>
    <div class="offcanvas-body m-0 p-0">

        <!-- links -->
        <div id="offcanvas-list-group" class="list-group list-group-flush">
            <a href="{% url 'home' %}" class="list-group-item list-group-item-action list-group-item-secondary border-0 trigger-preloader" id="nav-link-home">
                <i class="fas fa-home fa-fw fs-5 me-3"></i>
                Home
            </a>
            <a href="{% url 'about' %}" class="list-group-item list-group-item-action list-group-item-secondary border-0 trigger-preloader" id="nav-link-about">
                <i class="fas fa-info-circle fa-fw fs-5 me-3"></i>
                About
            </a>
            <a href="{% url 'destinations' %}" class="list-group-item list-group-item-action list-group-item-secondary border-0 trigger-preloader" id="nav-link-destinations">
                <i class="fas fa-map-marked-alt fa-fw fs-5 me-3"></i>
                Destinations
            </a>
            <a href="{% url 'faqs' %}" class="list-group-item list-group-item-action list-group-item-secondary border-0 trigger-preloader" id="nav-link-faqs">
                <i class="fas fa-question-circle fa-fw fs-5 me-3"></i>
                FAQs
            </a>
            <a href="{% url 'gallery' %}" class="list-group-item list-group-item-action list-group-item-secondary border-0 trigger-preloader" id="nav-link-gallery">
                <i class="fas fa-images fa-fw fs-5 me-3"></i>
                Gallery
            </a>
            <a href="{% url 'itineraries' %}" class="list-group-item list-group-item-action list-group-item-secondary border-0 trigger-preloader" id="nav-link-itineraries">
                <i class="fas fa-route fa-fw fs-5 me-3"></i>
                Itineraries
            </a>

            <div class="dropdown list-group-item list-group-item-action list-group-item-secondary border-0" id="nav-link-resources">
                <a href="#" class="dropdown-toggle d-block w-100 h-100" role="button" id="offcanvas-resources-dropdown"
                    data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="0,8">
                    <i class="fas fa-language fa-fw fs-5 me-3"></i>
                    Resources
                </a>
                <ul class="dropdown-menu dropdown-menu-dark w-100 border-0" aria-labelledby="offcanvas-resources-dropdown">
                    <li>
                        <a class="dropdown-item bg-dark trigger-preloader" href="{% url 'resources' %}">
                            All Resources
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item bg-dark trigger-preloader" href="{% url 'alphabet' %}">
                            <i class="fas fa-font fa-fw fs-5 me-3"></i>
                            Alphabet
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item bg-dark trigger-preloader" href="{% url 'phrases' %}">
                            <i class="fas fa-language fa-fw fs-5 me-3"></i>
                            Phrases
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item bg-dark trigger-preloader" href="{% url 'entertainment' %}">
                            <i class="fas fa-music fa-fw fs-5 me-3"></i>
                            Entertainment
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item bg-dark trigger-preloader" href="{% url 'holidays' %}">
                            <i class="fas fa-calendar-alt fa-fw fs-5 me-3"></i>
                            Holidays
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item bg-dark trigger-preloader" href="{% url 'weather' %}">
                            <i class="fas fa-cloud-sun fa-fw fs-5 me-3"></i>
                            Weather
                        </a>
                    </li>
                </ul>
            </div>

            <a href="{% url 'reviews' %}" class="list-group-item list-group-item-action list-group-item-secondary border-0 trigger-preloader" id="nav-link-reviewsX">
                <i class="fas fa-comment-dots fa-fw fs-5 me-3"></i>
                Reviews
            </a>
            <a href="{% url 'contact' %}" class="list-group-item list-group-item-action list-group-item-secondary border-0 trigger-preloader" id="nav-link-contact">
                <i class="fas fa-at fa-fw fs-5 me-3"></i>
                Contact
            </a>

            {% if request.user.is_authenticated %}
                <!-- user is logged-in -->
                <span class="list-group-item bg-dark text-light text-center">ADMIN</span>
                {% if request.user|has_group:"Site Admin" %}
                    <!-- user is a Site Admin -->
                    <a href="{% url 'calendar_bookings' %}" class="list-group-item list-group-item-action list-group-item-secondary border-0 trigger-preloader" id="nav-link-bookings">
                        <i class="fas fa-calendar-alt fa-fw fs-5 me-3"></i>
                        Calendar
                    </a>
                {% endif %}
                    <!-- user is superuser/dev -->
                    <a href="{% url 'admin:index' %}" class="list-group-item list-group-item-action list-group-item-secondary border-0"
                        target="_blank" rel="noopener">
                        <i class="fas fa-user-cog fa-fw fs-5 me-3"></i>
                        Django Admin
                    </a>
                {% endif %}
                <a href="{% url 'account_logout' %}" class="list-group-item list-group-item-action list-group-item-secondary border-0 trigger-preloader">
                    <i class="fas fa-sign-out-alt fa-fw fs-5 me-3"></i>
                    Logout
                </a>
            {% endif %}

            <!-- time in Kurdistan -->
            <span class="list-group-item bg-dark"></span>
            <p class="list-group-item bg-secondary bg-opacity-50 border-0 text-center">
                <small class="text-white fw-bold">Time in Kurdistan</small>
                <br>
                <span class="fs-2 text-white fw-bold">
                    <i class="fas fa-clock"></i>
                    <span id="nav-link-time">
                        ... fetching time ...
                    </span>
                </span>
            </p>

        </div>

    </div>
</aside>
