{% load static %}

<!-- bootstrap -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous">
</script>

<!-- fancybox -->
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>

<!-- leaflet maps -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-extra-markers/1.2.1/js/leaflet.extra-markers.min.js"
    integrity="sha512-ejMFZwlfxDqEaSHHcCJ9EhzzDyp3QB5NjmGfOp1iwUQ7pFam2pX3EKERWvWK8H5HLQG6ETrx3RvrEFMQ4kIQ/Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/leaflet-attribution.js' %}"></script>

<script>
    // mapbox
    const mapUrl = `{{ map_url }}`; // used across all map pages

    $(document).ready(function() {

        // footer map of Erbil
        let mapFooter = L.map("map-footer", {
            // stops users from loading infinite tiles outside of Iraq
            maxBounds: [[28.5, 38], [38.5, 50]],
            maxBoundsViscosity: 0.5,
        }).setView([36.19117, 44.00917], 11);
        let mapTileLayersFooter = L.tileLayer(`https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}`, {
            maxZoom: 18,
            minZoom: 5,
            id: "mapbox/streets-v11",
            tileSize: 512,
            zoomOffset: -1,
            accessToken: mapUrl
        }).addTo(mapFooter);

        // adding custom marker
        let customIconFooter = L.Icon.extend({
            options: {iconSize: [25, 35], iconAnchor: [12.5, 35],}
        });
        // extend from base icon for kurdish flag marker
        let kurIconFooter = new customIconFooter({
            iconUrl: `{% static 'img/marker-kurdistan.png' %}`
        });

        // add marker to footer map
        let markerFooter = L.marker([36.207132, 44.025733], {icon: kurIconFooter}).bindPopup(`Iraqi Kurdistan Guide`).addTo(mapFooter);

        // show the preloader animation for specific triggered links
        $(".trigger-preloader").on("click", function() {
            $("body").removeClass("page-load-complete");
        });
        
        // ensure the preloader is hidden on initial page load
        $("body").addClass("page-load-complete");
        
        // update the "next" buttons for referrer URL
        let referrer = document.referrer;
        if (referrer && referrer !== window.location.href) {
            $(`input[name="next"]`).val(referrer);
        }

        // listen for "pageshow" event to handle "back" navigation
        $(window).on("pageshow", function(e) {
            if (e.originalEvent.persisted) {
                $("body").addClass("page-load-complete");
            }
        });

    });
</script>

<!-- js / scripts -->
<script src="{% static 'js/script.js' %}"></script>
