{% extends "base.html" %}
{% load static %}

{% block breadcrumbs %}
    <!-- breadcrumbs -->
    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
    <li class="breadcrumb-item active" aria-current="page">FAQs</li>
    {% if request.user.is_superuser %}
        <li class="breadcrumb-item">
            <a href="{% url 'add_faq' %}">
                <i class="fas fa-plus-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add FAQ"></i>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}

<!-- regroup FAQs by category -->
{% regroup faqs by get_category_display as category_list %}

<div class="container-fluid pt-5 bg-secondary bg-opacity-25">
    <div class="row">
        <div class="col-12 text-center">
            <h1 id="header-faq" class="text-dark fw-bold">FAQs</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 text-center">
            <!-- generate badges for each category for easy-scrolling -->
            {% for category, faq_group in category_list %}
                <a href="#{{ category|lower|cut:' '|cut:'-'|cut:'&' }}">
                    <span class="badge bg-success">{{ category }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
</div>

{% for category, faq_group in category_list %}
    <section id="{{ category|lower|cut:' '|cut:'-'|cut:'&' }}" class="container-fluid faq-container {% cycle 'bg-secondary bg-opacity-25' 'bg-secondary bg-opacity-50' %}">
        <div class="row py-5 px-md-5">
            <div class="col-12">
                <!-- the category header -->
                <h2 class="text-center fw-bold text-dark">
                    <img src="{% static 'img/icons/faqs/' %}{{ category|lower|cut:' '|cut:'-'|cut:'&' }}.png" alt="{{ category }}" class="img-fluid rounded p-1 faq-icon filter-green">
                    {{ category }}
                </h2>
                <div class="accordion mb-3" id="accordion{{ forloop.counter }}">
                    <!-- each question/answer within the category -->
                    {% for faq in faq_group|dictsort:'id' %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="header{{ faq.id }}">
                                <button class="accordion-button collapsed bg-dark text-light" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{ faq.id }}" aria-expanded="false" aria-controls="collapse{{ faq.id }}">
                                    <span class="badge rounded-pill bg-kur-gold text-dark me-2">{{ forloop.counter }}</span>
                                    {% if faq.is_visible != True %}
                                        <i class="fas fa-eye-slash me-2 text-danger"></i>
                                    {% endif %}
                                    {{ faq.question }}
                                </button>
                            </h2>
                            <!-- the 'answer' to FAQ -->
                            <div id="collapse{{ faq.id }}" class="accordion-collapse collapse" aria-labelledby="header{{ faq.id }}" data-bs-parent="#accordion{{ forloop.parentloop.counter }}">
                                <div class="accordion-body">
                                    {% if faq.is_visible != True %}
                                        <span class="text-danger fw-bold">FAQ hidden from public view</span>
                                    {% endif %}
                                    {{ faq.answer|safe }}
                                    <!-- admin-only edit button -->
                                    {% if request.user.is_superuser %}
                                        <hr>
                                        <a href="{% url 'update_faq' faq.id %}" class="btn btn-success">Edit <i class="fas fa-edit"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endfor %}

{% endblock %}
