.leaflet-control-attribution.leaflet-control {
    color: rgba(var(--kurdish-green), 0.75);
    background-color: rgba(var(--white), 1);
    box-shadow: 0px 0px 5px 1px rgba(var(--kurdish-green), 0.5);
    font-size: 0.9em;
}

.leaflet-control-attribution.leaflet-control a {
    font-weight: bold;
    color: rgba(var(--kurdish-green), 1);
    transition: all 0.2s ease-in-out;
}

.leaflet-control-attribution.leaflet-control a:hover {
    text-decoration: none;
    color: rgba(var(--black), 1);
}

.leaflet-container .leaflet-condensed-attribution {
    margin: 10px;
    padding: 0;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.leaflet-condensed-attribution .attributes-body {
    display: none;
    padding: 0 4px 0 12px;
    height: 28px;
    line-height: 28px;
    transition: all 0.75s ease-in-out;
}

.leaflet-condensed-attribution:hover .attributes-body {
    display: inline-block !important;
}

.leaflet-condensed-attribution .attributes-emblem {
    height: 28px;
    width: 28px;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
