{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container my-5">
    <!-- breadcrumbs -->
    <div aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'bookings' %}">Bookings</a></li>
            <li class="breadcrumb-item active" aria-current="page">Admin: New Booking</li>
        </ol>
    </div>

    <br><br>
    <div class="row">
        <div class="col-12">
            <form method="POST" action="{% url 'add_booking' %}">
                {% csrf_token %}
                {{ booking_form.as_p }}
                <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
                <button type="submit" class="btn btn-success">Submit</button>
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-danger">Cancel</a>
            </form>
        </div>
    </div>
</section>

{% endblock %}

{% block js %}
<script>
    // disable first option of each <select> element
        $("select:not(#id_guide)").each(function() {
        $(this).children("option:first").prop("disabled", true);
    });

    // ensure start/end dates are not before "today", and end-date comes on/after start-date
    let now = new Date(),
    minDate = now.toISOString().substring(0,10);
    $("#id_start_date").prop("min", minDate);
    $("#id_start_date").on("change", setEndDateMin);
    $("#id_end_date").on("change", setEndDateMin);
    function setEndDateMin() {
        let startDate = $("#id_start_date").val();
        $("#id_end_date").prop("min", startDate);
    }

    // set the 'max' value for "amount-paid" no higher than the "total-price"
    $("#id_total_price").on("change", setMaxPaidPrice);
    $("#id_amount_paid").on("change", setMaxPaidPrice);
    function setMaxPaidPrice() {
        let totalPrice = $("#id_total_price").val();
        $("#id_amount_paid").prop("max", totalPrice);
    }
</script>
{% endblock %}
