{% extends "base.html" %}
{% load static %}

{% block breadcrumbs %}
    <!-- breadcrumbs -->
    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'calendar_bookings' %}">Calendar</a></li>
    <li class="breadcrumb-item active" aria-current="page">All</li>
    <li class="breadcrumb-item">
        <a href="{% url 'add_booking' %}">
            <i class="fas fa-plus-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add Booking"></i>
        </a>
    </li>
{% endblock %}

{% block content %}

<!-- page header -->
<div class="container-fluid py-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 id="page-header" class="text-dark fw-bold">All Bookings</h1>
        </div>
    </div>
    <!-- helper text -->
    <div class="row mt-5">
        <div class="col-12 text-center fs-4">
            <i class="fas fa-mouse-pointer text-kur-red"></i>
            Click a booking to view full details.
        </div>
    </div>
</div>

<section class="container">

    <!-- current bookings -->
    <div class="row mt-2 mb-5 mx-1 p-3 rounded bg-secondary bg-gradient bg-opacity-25 shadow-sm">
        <div class="col-12">
            <!-- header -->
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-dark fw-bold text-uppercase">Current Bookings</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    {% for booking in current_bookings %}
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{ booking.id }}">
                            <div class="card my-2 {% if booking.status == 'new' %}bg-warning text-dark{% elif booking.status == 'confirmed' %}bg-success text-white{% else %}bg-danger text-white{% endif %}">
                                <!-- corner ribbon -->
                                <div class="ribbon">
                                    <span class="kurdistan">
                                        {{ booking.get_guide_display }}
                                    </span>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ booking.status|upper }}</h5>
                                    <p class="card-text">
                                        <strong>{{ booking.guest_name }}</strong>
                                        {% if booking.total_guests|add:-1 > 0 %}
                                            <small>(+{{ booking.total_guests|add:-1 }} guest{{ booking.total_guests|add:-1|pluralize }})</small>
                                        {% endif %}
                                        <br>
                                        {{ booking.start_date }} - {{ booking.end_date }}
                                    </p>
                                </div>
                            </div>
                        </a>
                        <!-- attach booking modal -->
                        {% include "bookings/partials/booking_modal.html" %}
                    {% empty %}
                        <h4 class="text-danger text-center">None Found</h4>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- future bookings -->
    <div class="row my-5 mx-1 p-3 rounded bg-secondary bg-gradient bg-opacity-25 shadow-sm">
        <div class="col-12">
            <!-- header -->
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-dark fw-bold text-uppercase">Future Bookings</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    {% for booking in future_bookings %}
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{ booking.id }}">
                            <div class="card my-2 {% if booking.status == 'new' %}bg-warning text-dark{% elif booking.status == 'confirmed' %}bg-success text-white{% else %}bg-danger text-white{% endif %}">
                                <!-- corner ribbon -->
                                <div class="ribbon">
                                    <span class="kurdistan">
                                        {{ booking.get_guide_display }}
                                    </span>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ booking.status|upper }}</h5>
                                    <p class="card-text">
                                        <strong>{{ booking.guest_name }}</strong>
                                        {% if booking.total_guests|add:-1 > 0 %}
                                            <small>(+{{ booking.total_guests|add:-1 }} guest{{ booking.total_guests|add:-1|pluralize }})</small>
                                        {% endif %}
                                        <br>
                                        {{ booking.start_date }} - {{ booking.end_date }}
                                    </p>
                                </div>
                            </div>
                        </a>
                        <!-- attach booking modal -->
                        {% include "bookings/partials/booking_modal.html" %}
                    {% empty %}
                        <h4 class="text-danger text-center">None Found</h4>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- past bookings -->
    <div class="row my-5 mx-1 p-3 rounded bg-secondary bg-gradient bg-opacity-25 shadow-sm">
        <div class="col-12">
            <!-- header -->
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-dark fw-bold text-uppercase">Past Bookings</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    {% for booking in past_bookings reversed %}
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{ booking.id }}">
                            <div class="card my-2 {% if booking.status == 'new' %}bg-warning text-dark{% elif booking.status == 'confirmed' %}bg-success text-white{% else %}bg-danger text-white{% endif %}">
                                <!-- corner ribbon -->
                                <div class="ribbon">
                                    <span class="kurdistan">
                                        {{ booking.get_guide_display }}
                                    </span>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ booking.status|upper }}</h5>
                                    <p class="card-text">
                                        <strong>{{ booking.guest_name }}</strong>
                                        {% if booking.total_guests|add:-1 > 0 %}
                                            <small>(+{{ booking.total_guests|add:-1 }} guest{{ booking.total_guests|add:-1|pluralize }})</small>
                                        {% endif %}
                                        <br>
                                        {{ booking.start_date }} - {{ booking.end_date }}
                                    </p>
                                </div>
                            </div>
                        </a>
                        <!-- attach booking modal -->
                        {% include "bookings/partials/booking_modal.html" %}
                    {% empty %}
                        <h4 class="text-danger text-center">None Found</h4>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}
