{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row my-5 py-md-5">
        <div class="col-12 col-md-6 text-center">
            <h1 class="text-kur-red">Uh-oh! Something Went Wrong</h1>
            <br>
            <p class="fs-4">
                It seems even our digital journey has hit a rough patch!
                <br><br>
                Our servers are taking a break, just like a weary traveler in need of some rest.
                <br></br>
                While we fix this, why not explore some of our popular
                <a href="{% url 'destinations' %}" class="text-kur-green fw-bold trigger-preloader">destinations</a>
                around the breathtaking and unforgettable landscapes of Kurdistan and Federal Iraq?
            </p>
            <p>
                <a href="{% url 'home' %}" class="btn btn-lg btn-success m-1 trigger-preloader">Home</a>
                <a href="{% url 'destinations' %}" class="btn btn-lg btn-warning m-1 trigger-preloader">Destinations</a>
                <a href="{% url 'contact' %}" class="btn btn-lg btn-danger m-1 trigger-preloader">Contact</a>
            </p>
            <p>
                <small class="text-kur-green fw-bold fs-6">ERROR: 500</small>
            </p>
        </div>
        <div class="col-12 col-md-6 text-center">
            <img src="{% static 'img/error.webp' %}" alt="" class="img-fluid img-thumbnail rounded shadow">
        </div>
    </div>
</div>
{% endblock %}
