<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: Verdana, Tahoma, sans-serif;
        }
    </style>
</head>

<body>
    <p>
        <img src="https://assets.2bn.dev/static/img/ikg/ikg-banner.png" alt="Iraqi Kurdistan Guide">
    </p>

    <hr>

    <p>
        <strong>Reply To: {{ form_context.email }}</strong><br>
        <em>
            This is an automated email sent from
            <a href="https://iraqikurdistanguide.com">iraqikurdistanguide.com</a>
        </em>
    </p>

    <hr>

    <p>Dear Haval,</p>

    <p>{{ form_context.message|safe }}</p>

    <hr>

    <p>
        <strong>Name:</strong> {{ form_context.name }}<br>
        <strong>Email:</strong> {{ form_context.email }}<br>
        <strong>Telephone:</strong> {{ form_context.phone_num }}<br>
        <strong>From:</strong> {{ form_context.country }}
    </p>

    <p>
        <strong>Start:</strong> {{ form_context.start_date }}<br>
        <strong>End:</strong> {{ form_context.end_date }}<br>
        <strong>Duration:</strong> {{ form_context.num_days }} day(s)<br>
        <strong>Visitors:</strong> {{ form_context.num_guests }}
    </p>

    <p>
        <strong>Wishlist Destinations:</strong><br>
        <ul>
            {% for destination in form_context.destinations %}
                <li>
                    {{ destination.name }}
                </li>
            {% endfor %}
        </ul>
    </p>

    <hr>

    <!-- <p>
        <a href="https://iraqikurdistanguide.com/bookings/update/{{ form_context.id }}">Manage this Request</a>
    </p> -->

</body>

</html>