{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block breadcrumbs %}
    <!-- breadcrumbs -->
    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
    <li class="breadcrumb-item active" aria-current="page">Destinations</li>
    {% if request.user|has_group:"Site Admin" %}
        <li class="breadcrumb-item">
            <a href="{% url 'add_destination' %}">
                <i class="fas fa-plus-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add Destination"></i>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
<!-- map -->
<div id="map-all-destinations" class="shadow"></div>

<!-- page header -->
<div class="container-fluid py-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 id="page-header" class="text-dark fw-bold">Destinations</h1>
        </div>
    </div>
    <!-- helper text -->
    <div class="row mt-5">
        <div class="col-12 text-center fs-4">
            <i class="fas fa-heart text-kur-red"></i>
            Add destinations to your Wishlist for easier planning via the
            <a href="{% url 'contact' %}" class="text-kur-green fw-bold">Contact</a> page!
        </div>
    </div>
</div>

<!-- loop each destination cards -->
<section class="container mb-5">
    <div class="row">
        {% for destination in destinations|dictsort:"destination.name" %}
            <div class="col-12 col-md-6 col-lg-4">
                <a href="{% url 'view_destination' destination.destination.id %}">
                    <div class="card destination-card bg-dark text-light my-3 mx-2 shadow">
                        <!-- corner ribbon -->
                        <div class="ribbon">
                            <span class="{{ destination.destination.province.get_region_display|lower|cut:' '|cut:'-' }}">
                                {{ destination.destination.province.get_region_display }}
                            </span>
                        </div>
                        <!-- card image -->
                        <img src="{{ destination.img.image.url }}" alt="{{ destination.img.caption }}"
                            class="card-img destination-card-img img-fluid opacity-50"
                            onError="this.onerror=null;this.src='{{ MEDIA_URL }}no-image.png';">
                        <!-- card overlay -->
                        <div class="card-img-overlay d-flex align-items-center justify-content-center">
                            <h5 class="card-title text-center fs-1 text-shadow-thick"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="view {{ destination.destination }}">
                                {{ destination.destination }}
                                {% if destination.destination.is_visible != True %}
                                    <!-- hidden destination -->
                                    <br>
                                    <small>
                                        <i class="fas fa-eye-slash text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hidden"></i>
                                    </small>
                                {% endif %}
                            </h5>
                            <!-- wishlist footer / handled via main script.js -->
                            <p class="card-text destination-card-text bg-dark w-100" data-destination="{{ destination.destination }}">
                                <i id="wishlist-icon_{{ destination.destination }}" class="far fa-heart text-kur-red"></i>
                                <span id="wishlist-text_{{ destination.destination }}">add to</span> wishlist
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    // basic leaflet map of Iraq
    let map = L.map("map-all-destinations", {
        // stops users from loading infinite tiles outside of Iraq
        maxBounds: [[28.5, 38], [38.5, 50]],
        maxBoundsViscosity: 0.5,
    }).setView([33.25, 44], 5);
    let mapTileLayers = L.tileLayer(`https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}`, {
        attribution: "Map data &copy; <a href='https://www.openstreetmap.org/copyright' target='_blank' rel='noopener'>OpenStreetMap</a> contributors, Imagery © <a href='https://www.mapbox.com' target='_blank' rel='noopener'>Mapbox</a>",
        maxZoom: 18,
        minZoom: 5,
        id: "mapbox/streets-v11",
        tileSize: 512,
        zoomOffset: -1,
        accessToken: mapUrl
    }).addTo(map);

    // adding custom marker
    let customIcon = L.Icon.extend({
        options: {
            iconSize: [25, 35],
            iconAnchor: [12.5, 35],
        }
    });
    // extend from base icon for 'kur' and 'irq' icons
    let kurIcon = new customIcon({iconUrl: `{% static 'img/marker-kurdistan.png' %}`});
    let irqIcon = new customIcon({iconUrl: `{% static 'img/marker-iraq.png' %}`});

    let lat, lng, marker, region;
    let markerArray = [];
    // loop 'visible' marker destinations and add to map
    {% for destination in destinations %}
        {% if destination.destination.is_visible %}
            lat = {{ destination.destination.latitude }};
            lng = {{ destination.destination.longitude }};
            {% if destination.destination.province.region == "kur" %}
                region = kurIcon;
            {% else %}
                region = irqIcon;
            {% endif %}
            marker = L.marker([lat, lng], {icon: region}).bindPopup(`<a href="{% url 'view_destination' destination.destination.id %}">{{ destination.destination }}</a>`).addTo(map);
            markerArray.push(marker);
        {% endif %}
    {% endfor %}

    // ensure map is zoomed to show only the markers
    let markerGroup = L.featureGroup(markerArray).addTo(map);
</script>
{% endblock %}
