{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block breadcrumbs %}
    <!-- breadcrumbs -->
    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
    <li class="breadcrumb-item active" aria-current="page">Destinations</li>
    {% if request.user|has_group:"Site Admin" %}
        <li class="breadcrumb-item">
            <a href="{% url 'add_destination' %}">
                <i class="fas fa-plus-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add Destination"></i>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}

<section class="container my-5">
    
    <br><br>
    <div class="row">
        <div class="col-12 col-md-6">
            <div id="map-all-destinations"></div>
        </div>
        <div class="col-12 col-md-6">
            {% regroup destinations by province.get_region_display as destinations_list %}
            <ul>
                {% for province, local_destinations in destinations_list %}
                    <li>
                        <img src="{% static '' %}img/marker-{{ province|lower }}.png" alt="{{ province }} flag" class="flag-marker">
                        {{ province }}
                        <ul>
                            {% for destination in local_destinations %}
                                <li>
                                    <a href="{% url 'view_destination' destination.id %}">
                                        {{ destination }}
                                    </a>
                                    {% if destination.is_visible != True %}
                                        <i class="fas fa-eye-slash text-danger" data-bs-toggle="tooltip" data-bs-placement="right" title="Hidden"></i>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

{% endblock %}

{% block js %}

<script>
    // basic leaflet map of Iraq
    const mapUrl = `{{ map_url }}`;
    let map = L.map("map-all-destinations", {
        // stops users from loading infinite tiles outside of Iraq
        maxBounds: [[28.5, 38], [38.5, 50]],
        maxBoundsViscosity: 0.5,
    }).setView([33.25, 44], 7);
    let mapTileLayers = L.tileLayer(`https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}`, {
        attribution: "Map data &copy; <a href='https://www.openstreetmap.org/copyright' target='_blank' rel='noopener'>OpenStreetMap</a> contributors, Imagery © <a href='https://www.mapbox.com' target='_blank' rel='noopener'>Mapbox</a>",
        maxZoom: 18,
        minZoom: 5,
        id: "mapbox/streets-v11",
        tileSize: 512,
        zoomOffset: -1,
        accessToken: mapUrl
    }).addTo(map);

    // adding custom marker
    let customIcon = L.Icon.extend({
        options: {
            iconSize: [25, 35],
            iconAnchor: [12.5, 35],
        }
    });
    // extend from base icon for 'kur' and 'irq' icons
    let kurIcon = new customIcon({iconUrl: `{% static 'img/marker-kurdistan.png' %}`});
    let irqIcon = new customIcon({iconUrl: `{% static 'img/marker-iraq.png' %}`});

    let lat, lng, marker, region;
    let markerArray = [];
    // loop 'visible' marker destinations and add to map
    {% for destination in destinations %}
        {% if destination.is_visible %}
            lat = {{ destination.latitude }};
            lng = {{ destination.longitude }};
            {% if destination.province.region == "kur" %}
                region = kurIcon;
            {% else %}
                region = irqIcon;
            {% endif %}
            marker = L.marker([lat, lng], {icon: region}).bindPopup(`<a href="{% url 'view_destination' destination.id %}">{{ destination }}</a>`).addTo(map);
            markerArray.push(marker);
        {% endif %}
    {% endfor %}

    // ensure map is zoomed to show only the markers
    let markerGroup = L.featureGroup(markerArray).addTo(map);
    map.fitBounds(markerGroup.getBounds());

</script>

{% endblock %}
