{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container my-5">
    <!-- breadcrumbs -->
    <div aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'destinations' %}">Destinations</a></li>
            <li class="breadcrumb-item"><a href="{% url 'view_destination' destination.id %}">{{ destination }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'view_sight' destination.id sight.id %}">{{ sight }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Admin: Update</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'update_sight' destination.id sight.id %}">
                {% csrf_token %}
                {{ sight_form.as_p }}
                <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
                <button type="submit" class="btn btn-success">Submit</button>
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-danger">Cancel</a>
                <a class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
                <!-- Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete {{ sight }}?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete {{ sight }}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                                <a href="{% url 'delete_sight' destination.id sight.id %}" class="btn btn-success">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-6">
            <div id="map-single-destination"></div>
        </div>
    </div>
</section>

{% endblock %}

{% block js %}

<script>
    // basic leaflet map of Iraq
    const mapUrl = `{{ map_url }}`;
    let origLat = document.getElementById("id_latitude").value;
    let origLng = document.getElementById("id_longitude").value;
    if (!origLat || !origLng) {
        origLat = 33.25;
        origLng = 44;
    }
    let map = L.map("map-single-destination", {
        // stops users from loading infinite tiles outside of Iraq
        maxBounds: [[28.5, 38], [38.5, 50]],
        maxBoundsViscosity: 0.5,
    }).setView([origLat, origLng], 14);
    let mapTileLayers = L.tileLayer(`https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}`, {
        attribution: "Map data &copy; <a href='https://www.openstreetmap.org/copyright' target='_blank' rel='noopener'>OpenStreetMap</a> contributors, Imagery © <a href='https://www.mapbox.com' target='_blank' rel='noopener'>Mapbox</a>",
        maxZoom: 18,
        minZoom: 5,
        id: "mapbox/streets-v11",
        tileSize: 512,
        zoomOffset: -1,
        accessToken: mapUrl
    }).addTo(map);

    // adding custom marker
    let customIcon = L.Icon.extend({
        options: {
            iconSize: [25, 35],
            iconAnchor: [12.5, 35],
        }
    });
    // extend from base icon for 'kur' and 'irq' icons
    let kurIcon = new customIcon({iconUrl: `{% static 'img/marker-kurdistan.png' %}`});
    let irqIcon = new customIcon({iconUrl: `{% static 'img/marker-iraq.png' %}`});

    {% if destination.province.region == "kur" %}
        region = kurIcon;
    {% else %}
        region = irqIcon;
    {% endif %}

    let marker = L.marker([origLat, origLng], {icon: region, draggable: true}).addTo(map);
    // prefill lat/lng values on map-click or marker-drag
    marker.on("dragend", function(e) {
        updateCoords(marker.getLatLng().lat, marker.getLatLng().lng, map.getZoom());
    });
    map.on("click", function(e) {
        marker.setLatLng(e.latlng);
        updateCoords(marker.getLatLng().lat, marker.getLatLng().lng, map.getZoom());
    });

    function updateCoords(lat, lng, zoom) {
        document.getElementById("id_latitude").value = marker.getLatLng().lat.toFixed(5);
        document.getElementById("id_longitude").value = marker.getLatLng().lng.toFixed(5);
        zoom = zoom < 10 ? 10 : zoom;
        map.flyTo([lat, lng], zoom);
    }

</script>

{% endblock %}
