{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container my-5">
    <!-- breadcrumbs -->
    <div aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item">{{ tour.category }} Tours</li>
            <li class="breadcrumb-item active" aria-current="page">Admin: Update</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'update_tour' tour.id %}">
                {% csrf_token %}
                {{ tour_form.as_p }}
                <button type="submit" class="btn btn-success">Submit</button>
                <a href="{{ request.META.HTTP_REFERER }}#tours" class="btn btn-danger">Cancel</a>
                <a class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
                <!-- Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete {{ tour.category }}?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete the {{ tour.category }} Tour?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                                <a href="{% url 'delete_tour' tour.id %}" class="btn btn-success">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- display preview of tour photo being uploaded -->
        <div class="col-12 col-md-6 rounded" id="img-preview-col">
            <img src="{{ tour.photo.image.url }}" alt="Preview of Tour Photo selected" id="img-preview"
                class="card img-fluid img-thumbnail rounded shadow" onError="this.onerror=null;this.src='{{ MEDIA_URL }}no-image.png';">
        </div>
    </div>
</section>

{% endblock %}

{% block js %}
    <script>
        // disable first option of each <select> element
            $("select").each(function() {
            $(this).children("option:first").prop("disabled", true);
        });

        // update <optgroup> 'data' attr and 'text'
        let photoOptions = $("#id_photo").children("optgroup").children("option");
        $(photoOptions).each(function() {
            // set the 'data-path' attribute
            let optData = $(this).text();
            $(this).data("path", optData);
            // update the innerText of each option
            let optText = $(this).text().split("/").pop();
            $(this).text(optText);
        });
    
        // show preview of the image
        // add/edit photo_form on Gallery app use 'similar' logic
        $("#id_photo").on("change", function() {
            let imgURL = $(this).find(":selected").data("path");
            if (imgURL) {
                try {
                    $("#img-preview").prop("src", imgURL).on("error", function() {
                        $("#img-preview").prop("src", `{{ MEDIA_URL }}no-image.png`);
                    });
                }
                catch (error) {console.log(error);}
            }
        });
    </script>

{% endblock %}
