{% extends "base.html" %}
{% load static %}

{% block breadcrumbs %}
    <!-- breadcrumbs -->
    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'destinations' %}">Destinations</a></li>
    <li class="breadcrumb-item"><a href="{% url 'view_destination' destination.id %}">{{ destination }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ sight }}</li>
    {% if request.user.is_superuser %}
    <li class="breadcrumb-item">
        <a href="{% url 'update_sight' destination.id sight.id %}">
            <i class="fas fa-edit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit Sight"></i>
        </a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}

<section class="container my-5">
    <div class="row">
        <div class="col-12 col-md-6">
            <div id="map-single-destination"></div>
        </div>
        <div class="col-12 col-md-6">
            <div class="row card-deck d-flex justify-content-center">
                <div class="col">
                    {% for photo in photo_group %}
                        <!-- include photo-card partial -->
                        {% include "gallery/partials/photo_card.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block js %}

<script>
    // basic leaflet map of Iraq
    const mapUrl = `{{ map_url }}`;
    let map = L.map("map-single-destination", {
        // stops users from loading infinite tiles outside of Iraq
        maxBounds: [[28.5, 38], [38.5, 50]],
        maxBoundsViscosity: 0.5,
    }).setView([`{{ sight.latitude }}`, `{{ sight.longitude }}`], 12);
    let mapTileLayers = L.tileLayer(`https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}`, {
        attribution: "Map data &copy; <a href='https://www.openstreetmap.org/copyright' target='_blank' rel='noopener'>OpenStreetMap</a> contributors, Imagery © <a href='https://www.mapbox.com' target='_blank' rel='noopener'>Mapbox</a>",
        maxZoom: 18,
        minZoom: 5,
        id: "mapbox/streets-v11",
        tileSize: 512,
        zoomOffset: -1,
        accessToken: mapUrl
    }).addTo(map);

    // adding custom marker
    let customIcon = L.Icon.extend({
        options: {
            iconSize: [25, 35],
            iconAnchor: [12.5, 35],
        }
    });
    // extend from base icon for 'kur' and 'irq' icons
    let kurIcon = new customIcon({iconUrl: `{% static 'img/marker-kurdistan.png' %}`});
    let irqIcon = new customIcon({iconUrl: `{% static 'img/marker-iraq.png' %}`});

    let lat, lng, marker;
    let markerArray = [];
    // add sight to map
    lat = {{ sight.latitude }};
    lng = {{ sight.longitude }};
    {% if sight.destination.province.region == "kur" %}
        region = kurIcon;
    {% else %}
        region = irqIcon;
    {% endif %}
    marker = L.marker([lat, lng], {icon: region}).bindPopup(`{{ sight }}`).addTo(map);
    markerArray.push(marker);

</script>

{% endblock %}
