{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block breadcrumbs %}
    <!-- breadcrumbs -->
    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'destinations' %}">Destinations</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ destination }}</li>
    {% if request.user|has_group:"Site Admin" %}
        <li class="breadcrumb-item">
            <a href="{% url 'update_destination' destination.id %}">
                <i class="fas fa-edit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit Destination"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'add_sight' destination.id %}">
                <i class="fas fa-plus-square" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add Sight"></i>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}

<section class="container my-5">
    <div class="row">
        <div class="col-12 col-md-6">
            <div id="map-single-destination"></div>
        </div>
        <div class="col-12 col-md-6">
            {% regroup sights|dictsort:"category" by category as sights_list %}
            <ul>
                {% for category, local_sights in sights_list %}
                    <li>
                        {{ category|title }}
                        <ul>
                            {% for sight in local_sights %}
                                <li>
                                    <a href="{% url 'view_sight' destination.id sight.id %}">
                                        {{ sight }}
                                    </a>
                                    {% if sight.is_visible != True %}
                                        <i class="fas fa-eye-slash text-danger" data-bs-toggle="tooltip" data-bs-placement="right" title="Hidden"></i>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

{% endblock %}

{% block js %}

<script>
    // basic leaflet map of Iraq
    const mapUrl = `{{ map_url }}`;
    let map = L.map("map-single-destination", {
        // stops users from loading infinite tiles outside of Iraq
        maxBounds: [[28.5, 38], [38.5, 50]],
        maxBoundsViscosity: 0.5,
    }).setView([`{{ destination.latitude }}`, `{{ destination.longitude }}`], 11);
    let mapTileLayers = L.tileLayer(`https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}`, {
        attribution: "Map data &copy; <a href='https://www.openstreetmap.org/copyright' target='_blank' rel='noopener'>OpenStreetMap</a> contributors, Imagery © <a href='https://www.mapbox.com' target='_blank' rel='noopener'>Mapbox</a>",
        maxZoom: 18,
        minZoom: 5,
        id: "mapbox/streets-v11",
        tileSize: 512,
        zoomOffset: -1,
        accessToken: mapUrl
    }).addTo(map);

    // adding custom marker
    let customIcon = L.Icon.extend({
        options: {
            iconSize: [25, 35],
            iconAnchor: [12.5, 35],
        }
    });
    // extend from base icon for 'kur' and 'irq' icons
    let kurIcon = new customIcon({iconUrl: `{% static 'img/marker-kurdistan.png' %}`});
    let irqIcon = new customIcon({iconUrl: `{% static 'img/marker-iraq.png' %}`});

    let lat, lng, marker;
    let markerArray = [];
    // display destination on map
    lat = {{ destination.latitude }};
    lng = {{ destination.longitude }};
    {% if destination.province.region == "kur" %}
        region = kurIcon;
    {% else %}
        region = irqIcon;
    {% endif %}
    marker = L.marker([lat, lng]).bindPopup(`{{ destination }}`).addTo(map);
    markerArray.push(marker);
    
    // loop 'visible' marker sights and add to map
    {% for sight in sights %}
        {% if sight.is_visible and sight.primary_attraction %}
            lat = {{ sight.latitude }};
            lng = {{ sight.longitude }};
            {% if sight.destination.province.region == "kur" %}
                region = kurIcon;
            {% else %}
                region = irqIcon;
            {% endif %}
            marker = L.marker([lat, lng], {icon: region}).bindPopup(`<a href="{% url 'view_sight' destination.id sight.id %}">{{ sight }}</a>`).addTo(map);
            markerArray.push(marker);
        {% endif %}
    {% endfor %}

    // ensure map is zoomed to show only the markers
    let markerGroup = L.featureGroup(markerArray).addTo(map);
    map.fitBounds(markerGroup.getBounds().pad(0.5));

</script>

{% endblock %}
