{% extends "base.html" %}
{% load static %}

{% block breadcrumbs %}
    <!-- breadcrumbs -->
    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
    <li class="breadcrumb-item dropdown">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownResourceBreadcrumb" data-bs-toggle="dropdown" aria-expanded="false">
            Resources
        </a>

        <!-- breadcrumb dropdown -->
        <ul class="dropdown-menu" aria-labelledby="dropdownResourceBreadcrumb">
            <li><a class="dropdown-item" href="{% url 'resources' %}">Resources</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'alphabet' %}">Alphabet</a></li>
            <li><a class="dropdown-item active" aria-current="page">Phrases</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="">Entertainment</a></li>
            <li><a class="dropdown-item" href="">Holidays</a></li>
            <li><a class="dropdown-item" href="{% url 'weather' %}">Weather</a></li>
        </ul>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Phrases</li>
    {% if request.user.is_superuser %}
        <li class="breadcrumb-item">
            <a href="{% url 'add_phrase' %}">
                <i class="fas fa-plus-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add Phrase"></i>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}

<!-- regroup phrases by category -->
{% regroup phrases by get_category_display as phrases_list %}
<section class="container-fluid py-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 id="page-header" class="text-dark fw-bold">Phrases</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 text-center">
            <!-- generate badges for each category for easy-scrolling -->
            {% for category, phrase_group in phrases_list %}
            <a href="#{{ category|lower|cut:' '|cut:'-'|cut:'&' }}">
                <span class="badge bg-success fs-6 my-1">{{ category }}</span>
            </a>
            {% endfor %}
        </div>
    </div>
    <!-- helper text -->
    <div class="row mt-5">
        <div class="col-12 text-center fs-4">
            <i class="far fa-hand-pointer text-kur-red"></i>
            Tap or hover the Kurdish/Arabic words to view the Latin text!
        </div>
    </div>
</section>

<!-- loop phrases (regrouped by category) -->
{% for category, phrase_group in phrases_list %}
    <section id="{{ category|lower|cut:' '|cut:'-'|cut:'&' }}" class="container scroll-margin-top">
        <div class="row pt-5 px-md-5">

            <!-- the category header -->
            <h2 class="text-center">
                <span class="badge rounded-pill bg-secondary fs-3">{{ category }}</span>
            </h2>

            <!-- each phrase within the category -->
            {% for phrase in phrase_group %}
                <div class="col-12 col-lg-6">
                    <div class="card text-center my-3 shadow">

                        <!-- english -->
                        <div class="card-header bg-dark text-light d-flex align-items-center">
                            <img src="{% static 'img/flags/usa.png' %}" class="flex-shrink-1 img-fluid rounded ms-2"
                                alt="Flag of USA" data-bs-toggle="tooltip" data-bs-placement="right" title="English">
                            <span class="card-title fs-3 w-100">
                                {{ phrase.english_phrase }}
                            </span>
                            <img src="{% static 'img/flags/uk.png' %}" class="flex-shrink-1 img-fluid rounded ms-2"
                                alt="Flag of UK" data-bs-toggle="tooltip" data-bs-placement="left" title="English">
                        </div>

                        <div class="card-body">
                            <div class="row card-text fs-2">

                                <!-- kurdish -->
                                <div class="col-12 d-flex align-items-center justify-content-end">
                                    <span class="text-end" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        title="{{ phrase.sorani_latin }}">
                                        {{ phrase.sorani_script }}
                                    </span>
                                    <img src="{% static 'img/flags/kurdistan.png' %}" class="img-fluid rounded ms-2"
                                        alt="Flag of Kurdistan" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        title="Kurdish">
                                </div>

                                <hr class="w-75 mx-auto my-2">

                                <!-- arabic -->
                                <div class="col-12 d-flex align-items-center justify-content-end">
                                    <span class="text-end" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        title="{{ phrase.arabic_latin }}">
                                        {{ phrase.arabic_script }}
                                    </span>
                                    <img src="{% static 'img/flags/iraq.png' %}" class="img-fluid rounded ms-2"
                                        alt="Flag of Iraq" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        title="Arabic">
                                </div>
                            </div>

                        </div>
                        <!-- superuser footer details -->
                        {% if request.user.is_superuser %}
                            <div class="card-footer d-flex align-items-center justify-content-center bg-secondary bg-opacity-25">
                                <span class="w-100">
                                    <a href="{% url 'update_phrase' phrase.id %}" class="btn btn-primary">Edit <i
                                            class="fas fa-edit"></i></a>
                                </span>
                                {% if phrase.is_visible != True %}
                                <i class="fas fa-eye-slash text-danger fs-3" data-bs-toggle="tooltip" data-bs-placement="left"
                                    title="Hidden"></i>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            {% if not forloop.last %}
                <hr class="my-5">
            {% else %}
                <span class="my-5"></span>
            {% endif %}

        </div>
    </section>
{% endfor %}

{% endblock %}
