{% extends "base.html" %}
{% load static %}

{% block breadcrumbs %}
    <!-- breadcrumbs -->
    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
    <li class="breadcrumb-item active dropdown" aria-current="page">
        <span class="dropdown-toggle" href="#" role="button" id="dropdownResourceBreadcrumb" data-bs-toggle="dropdown" aria-expanded="false">
            Resources
        </span>

        <!-- breadcrumb dropdown -->
        <ul class="dropdown-menu" aria-labelledby="dropdownResourceBreadcrumb">
            <li><a class="dropdown-item" href="{% url 'alphabet' %}">Alphabet</a></li>
            <li><a class="dropdown-item" href="{% url 'phrases' %}">Phrases</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}

<section class="container my-5">

    Resources

</section>

{% endblock %}
