{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partials/head.html" %}

    <!-- additional head elements -->
    {% block head %}{% endblock %}
</head>

<body>
    <!-- banner for reviews -->
    {% include "partials/banner_review.html" %}

    <!-- overlay -->
    <aside id="overlay" class="hide"></aside>

    <!-- header / navbar -->
    {% include "partials/navbar.html" %}

    <!-- breadcrumbs -->
    <section id="breadcrumb-container" aria-label="breadcrumb" class="bg-secondary shadow">
        <ol class="breadcrumb breadcrumb-responsive m-0">
            {% block breadcrumbs %}
            {% endblock %}
        </ol>
    </section>

    <!-- messages -->
    {% include "partials/messages.html" %}

    <!-- main content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- footer -->
    {% include "partials/footer.html" %}

    <!-- scripts -->
    {% include "partials/scripts.html" %}

    <!-- extra js -->
    {% block js %}{% endblock %}

</body>
</html>
