{% load custom_filters %}

<div class="card shadow h-100" aria-hidden="true">
    <a href="{{ photo.image.url }}" data-fancybox="gallery-{{ forloop.parentloop.counter }}" data-caption="{{ photo.caption }}">
        <img src="{{ photo.image.url }}" data-src="{{ photo.image.url }}" class="card-img-top img-fluid"
            alt="{{ photo.caption }}" onError="this.onerror=null;this.src='{{ MEDIA_URL }}placeholder.png';">
        <div class="card-body text-center">
            <h5 class="card-title">{{ photo.sight }}</h5>
        </div>
    </a>
    {% if request.user|has_group:"Site Admin" %}
        <!-- site-admin 'Edit' tools -->
        <div class="card-footer text-center">
            <!-- <small class="text-body-secondary">Last updated 3 mins ago</small> -->
            <a href="{% url 'update_photo' photo.id %}" class="btn btn-success">
                Edit <i class="fas fa-edit fa-fw"></i>
            </a>
            {% if photo.is_visible != True %}
                <br><br>
                <span class="text-danger">
                    <i class="fas fa-eye-slash me-2"></i>
                    Hidden
                </span>
            {% endif %}
        </div>
    {% endif %}
</div>
