{% extends "base.html" %}
{% load static %}

{% block breadcrumbs %}
    <!-- breadcrumbs -->
    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
    <li class="breadcrumb-item active" aria-current="page">Contact</li>
{% endblock %}

{% block content %}

<section class="container my-5">
    <div class="row">
        <div class="col-12">
            <form method="POST" action="{% url 'contact' %}">
                {% csrf_token %}
                {{ contact_form.as_p }}
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}
